@use "../abstracts/colors" as *;

.age-ratin-select {
  display: flex;
  margin-right: 1rem;
  width: 10rem;

  select {
    width: 100%;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0 1rem;
    color: $white;
  }

  &-light {
    select {
      background-color: $selectBackground;
    }
  }

  &-dark {
    select {
      background-color: $dark900;
    }
  }
}
