/* Colors */
$red: red;
$veryLightGray: #e0e0e0;
$gray: gray;
$lightGray: #d0d0d0;
$blue: #1976d2;
$lightBlue: #98c0e9;
$white: #ffffff;
$dark700: #616161;
$dark800: #424242;
$dark900: #212121;
$blackTransparent07: rgba(0, 0, 0, 0.7);

/* Navbar */
$navBgColor: $lightBlue;
$navBgColorDark: $dark800;

/* Age rating select*/
$selectBackground: $blue;

/* Modal */
$modalOverlay: $blackTransparent07;
$modalBackground: $white;
$modalBackgroundDark: $dark800;

/* Movie card */
$ageRatingRed: $red;
$description: $gray;
$descriptionDark: $lightGray;

/* Movie card buttons */
$movieButtonsBorder: $veryLightGray;
$movieButtonsBorderDark: $dark800;
$movieButtonsDark: $dark900;
