/* color */
$navBgColor: #98c0e9;
$navBgColorDark: #424242;
$white: #ffffff;
$dark: #616161;

$selectBackground: #1976d2;

$modalOverlay: rgba(0, 0, 0, 0.7);
$modalBackground: $white;

$ageRatingRed: red;
$description: gray;
$descriptionDark: #d0d0d0;

$movieButtonsBorder: #a0a0a0;
$movieButtonsBorderDark: #424242;
$movieButtonsDark: #212121;
