@use "../abstracts/colors" as *;

.body {
  padding: 0;
  margin: 0;
}

.light {
  .container {
    background-color: $white;
  }

  .modal {
    background-color: $modalBackground;
  }
}

.dark {
  .container {
    background-color: $dark700;
  }

  .modal {
    background-color: $modalBackgroundDark;
    color: $white;
  }
}
