@use "../abstracts/colors" as *;

.body {
  padding: 0;
  margin: 0;
}

.light {
  .nav {
    background-color: $navBgColor;
  }

  .container {
    background-color: $white;
  }

  .movie-card {
    background-color: $white;

    .movie-buttons {
      border: 1px solid $movieButtonsBorder;
    }
  }

  .modal {
    background-color: $modalBackground;
  }
}

.dark {
  .nav {
    background-color: $navBgColorDark;
  }

  .container {
    background-color: $dark;
  }

  .movie-card {
    background-color: $navBgColorDark;

    .movie-card-title {
      color: $white;
    }

    .movie-card-description {
      color: $descriptionDark;
    }

    .movie-buttons {
      border: 1px solid $movieButtonsBorderDark;
      background-color: $movieButtonsDark;
    }
  }

  .modal {
    background-color: $navBgColorDark;
    color: $white;
  }
}
